@page
@model Evlog.Web.Pages.Profile.CreateModel
@{
}

<p>The create profile page goes here.</p>

<p>Signed in: @User.Identity.IsAuthenticated</p>

<form method="post">
  Full Name
  <input asp-for="VM.FullName" />

  <input type="submit" />
</form>
