@page
@model Evlog.Web.Areas.Evlog.Pages.EventPosts.CreateModel
@{
}

    <form method="post">
        Title
        <input asp-for="VM.Title" />

        Slug
        <input asp-for="VM.Slug" />

        Description
        <textarea asp-for="VM.Description"></textarea>

        Body
        <textarea asp-for="VM.Markdown"></textarea>

        <input type="submit" />
    </form>
