nav.main-nav {
    @include grid-container;
    padding: 1.5em;
    margin-bottom: 2em;

    ul,
    ul li,
    .brand-logo {
        display: inline-block;
    }

    .brand-logo {
        @include grid-column(1 of 5);
        font-weight:  bold;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: $base-font-color;
        }
    }

    ul {
        @include grid-column(4 of 5);
        text-align: right;

        a:link {
            text-decoration: none;
            font-variant: small-caps;
        }

        li {
            margin-left: 1.5em;
        }
    }


}
