@page
@model IndexModel
@{
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.EventPosts != null && Model.EventPosts.Any())
        {
            foreach (var post in Model.EventPosts)
            {
        <tr>
            <td>@post.Title</td>
            <td>@post.StartTimeUtc</td>
        </tr>
            }
        }
        else
        {
            <tr>You have no events. Create your first event.</tr>
        }
    </tbody>
</table>
