@page

@inject IUpcomingEventsQuery upcomingEvents
@{
    var events = await upcomingEvents.QueryAsync();
}

<h1>Upcoming Events</h1>

@foreach(var ev in events)
{
    <partial name="Partials/_EventCard" model="ev" />
}
