@page

@inject IPastEventsQuery pastEvents
@{
    var events = await pastEvents.QueryAsync();
}

<h1>Past Events</h1>

@foreach(var ev in events)
{
    <partial name="Partials/_EventCard" model="ev" />
}
